body {
	text-align: center;
	margin: 0px;
}

@font-face {
	font-family: "OdorMeanChey";
  src: url(OdorMeanChey-Regular.ttf);
}
@font-face {
	font-family: "Onest-ExtraBold";
  src: url(Onest-VariableFont_wght.ttf);
  font-weight: 100 1000;
}
@font-face {
	font-family: "OpenSans-Ex";
  src: url(OpenSans-VariableFont_wdth,wght.ttf);
  font-weight: 300 800;
}
@font-face {
	font-family: "Nova-Oval";
  src: url(NovaOval-Regular.ttf);
  font-weight: 300 800;
}
@font-face {
	font-family: "Nova-Square";
  src: url(NovaSquare-Regular.ttf);
  font-weight: 300 800;
}
@font-face {
	font-family: "Inter";
  src: url(Inter-VariableFont_opsz,wght.ttf);
  font-weight: 300 1000;
}

.Quoteurce {
	font-family: "Onest-ExtraBold";
	font-weight: 1000;
	margin-top: 0.2em;
	margin-bottom: 0em;
}

.Quote {
	font-family: "OdorMeanChey";
}

.QuoteText {
	color: #1F8084;
	font-size: 4.5em;
	margin-top: 0.3em;
	margin-bottom: 0.1em;
	line-height: 1em;
}

.länkStorBild {
	display: inline-block;
	height: 25%;
}

.storBild {
	background-image: linear-gradient(to top, white, rgba(132,32,127,0.01), rgba(132,32,127,1));
}

.logga {
	width: 60%;
	height: 100%;
	object-fit: contain;
}

a {
	color: white;
	font-family: "OpenSans-Ex";
	font-weight: 800;
}

a:hover {
	
	text-decoration: underline dotted white;
}

.litentext {
	display: flex;
	flex-direction: row;
	background-color:#84207F;
	margin-bottom: 4em;
    margin-top: 1em;
	margin-right: 2em;
	margin-left: 2em;
	box-shadow: 0 0 2em 2em rgba(132,32,127, 1);
}

.omOssLänk1 {
	margin: auto;
	font-size: 2.5em;
	width: 100%;
	text-shadow: 0 0 20px rgba(255, 255, 255, 0.68), 0 0 30px rgba(255, 255, 255, 0.52), 0 0 40px rgba(255, 255, 255, 0.36), 0 0 50px rgba(255, 255, 255, 0.02), 0 0 60px rgba(255, 255, 255, 0);
}

.kontaktaLänk1 {
	font-size: 2.5em;
	color: #84207F;
	text-decoration: underline;
	text-decoration-color: #84207F;
	text-shadow: 0 0 1em rgba(255, 255, 255, 1), 0 0 2em rgba(255, 255, 255, 0.68), 0 0 3em rgba(255, 255, 255, 0.52), 0 0 4em rgba(255, 255, 255, 0.36), 0 0 5em rgba(255, 255, 255, 0.02), 0 0 6em rgba(255, 255, 255, 0);
	margin-top: auto;
	margin-bottom: auto;
	word-wrap: break-word;
}

.kontaktaLänk1:hover{
	text-decoration: underline dotted purple;
}

.prisLänk1 {
	margin: auto;
	font-size: 2.5em;
	width: 100%;
	text-shadow: 0 0 20px rgba(255, 255, 255, 0.68), 0 0 30px rgba(255, 255, 255, 0.52), 0 0 40px rgba(255, 255, 255, 0.36), 0 0 50px rgba(255, 255, 255, 0.02), 0 0 60px rgba(255, 255, 255, 0);
}

.gammlaAlternativ {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.storText {
	font-family: "OpenSans-Ex";
	font-weight: 800;
	font-size: 4.3em;
	object-fit: contain;
	width: 45%;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
}

.group1 {
	object-fit: contain;
	width: 50%;
}


.gjortEnkelt {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-evenly;
}

.autoSkolaMocup {
	object-fit: contain;
	width: 50%;
}

.storTextBlå {
	font-family: "OpenSans-Ex";
	font-weight: 800;
	font-size: 4em;
	width: 50%;
	object-fit: contain;
	word-wrap: break-word;
	color: #1F8084;
}

.poweredByAI {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: center;
	padding-top: 3%;
	padding-bottom: 3%;
	border-style:solid;
	border-width: 0.0em;
	border-color: rgba(132,32,127, 0.9);
	border-radius: 100px;
	box-shadow: 0px 0px 2em 1em purple, purple 0px 0px 2em 1em inset;
	margin-top: 3.5em;
	margin-bottom: 3.5em;
}

.poweredByAIText {
	font-family: "OpenSans-Ex";
	font-weight: 800;
	font-size: 4em;
	object-fit: contain;
	width: 50%;
	margin-top: auto;
	margin-bottom: auto;
}

.chatGPTDiv {
	right: 10px;
	display: flex;
	justify-content: flex-end;
}

.fotter {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 4em;
	padding-bottom: 4em;
	background-image: linear-gradient(to bottom, white, rgba(31,128,132, 0), rgba(31,128,132,1));
}

.fotterLänk {
	color: black;
	font-size: 2em;
}

.fotterLänk:hover {
	text-decoration: underline dotted black;
}

.fotterLänkPurple {
	color: purple;
	font-size: 2em;
}

.fotterLänkPurple:hover {
	text-decoration: underline dotted purple;
}



.omTheodor {
	display: flex;
	flex-direction: row;
	width:100%;
	justify-content: space-between;
	margin-top:2em;
	margin-bottom: 2em;
	object-fit: contain;
}

.omTheodorText {
	width: 50%;
	margin-right: 2em;
}

.TheodorBild {
	width: 40%;
	border-radius:50%;
	box-shadow: 0 0 5em 1.5em #1F8084;
	margin-bottom: auto;
	margin-top: auto;
}

.titleOm {
	font-family: "OpenSans-Ex";
	font-weight: 800;
	font-size: 2.5em;
	text-decoration: underline;
	margin: 0;
}

.namnOmTheo {
	font-family: "Nova-Oval";
	font-weight: 800;
	font-size: 4.5em;
	margin: 0;
	letter-spacing: -0.1em;
	line-height: 0.8em;
}

.namnOmNoel {
	font-family: "Nova-Square";
	font-weight: 800;
	font-size: 4.5em;
	margin: 0;
	letter-spacing: -0.1em;
	line-height: 0.8em;
}

.textOmTheo {
	text-align: right;
	font-family: "OpenSans-Ex";
	font-weight: 800;
	font-size: 1.5em;
	margin: 0em;
}

.textOmNoel {
	text-align: left;
	font-family: "OpenSans-Ex";
	font-weight: 800;
	font-size: 1.5em;
	margin: 0em;
}

.omNoel {
	display: flex;
	flex-direction: row-reverse;
	width:100%;
	justify-content: space-between;
	margin-top:2em;
	margin-bottom: 2em;
	object-fit: contain;
}

.omNoelText {
	width: 50%;
	margin-left: 2em;
}

.NoelBild {
	width: 40%;
	border-radius:50%;
	box-shadow: 0 0 5em 1.5em purple;
	margin-bottom: auto;
	margin-top: auto;
	
	
	
}

.avskärmare {
	width: 80%;
}

.formulär {
	margin-top: 3em;
	font-family: "OpenSans-Ex";
	font-weight: 800;
}

.comingSoon {
	font-size: 2.8em;
	margin-top: 0;
	margin-bottom: 0;
}

.lärtOss {
	font-size: 1.8em;
	margin-left: 25%;
	margin-right: 25%;
	margin-top: 0;
	margin-bottom: 0;
}

.mail {
	font-family: "OpenSans-Ex";
	font-weight: 800;
	margin-top: 5em;
}

.skickaMail {
	font-size: 2.8em;
	margin-top: 0;
	margin-bottom: 0;
}

.mailAdress {
	font-size: 4.2em;
	margin-top: 0;
	margin-bottom: 0;
	letter-spacing: -0.1em;
	word-wrap: break-word;
}





.prisUppläg {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 4em;
}

.billigtEffektivt {
	margin-top: auto;
	margin-bottom: auto;
	font-family: "OpenSans-Ex";
	font-weight: 800;
	font-size: 4em;
	width: 40%;
	word-wrap: break-word;
}

.prisPanel {
	width:40%;
	border: 0 solid black;
	border-radius: 1em;
	box-shadow: 0 0 0.5em black;
	text-align: left;
	padding-left: 2em;
	padding-right: 2em;
	font-family: "Inter";
	font-weight: 500;
}

.premium {
	font-weight: 800;
	margin-bottom: 0;
}

.storlekar {
	color: grey;
	margin: 0;
}

.faktisktPris {
	display: flex;
	flex-direction: row;
	margin-top: 1em;
	margin-bottom: 1em;
}

.kostnad {
	font-weight: 1000;
	font-size: 3em;
	margin: 0;
}

.år {
	margin-top: auto;
	padding-left: 0.5em;
	color: grey;
}

.checkText {
	display: flex;
	flex-direction: row;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.checkemark {
	padding-right: 1em;
}

.checkmarkText {
	margin: 0;
}

.kontaktaPris {
	color: black;
}

.kontaktaPris:hover {
	text-decoration: underline dotted black;
}


.kontaktaPrisDiv {
	width: 100%;
	border: 0.1em solid rgba(0, 0, 0, 0.2);
	border-radius: 0.5em;
	text-align: center;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}






	
@media (max-aspect-ratio: 10/9){
	.litentext {
		display:flex;
		flex-direction: column;
		font-size: 2em;
	}
	
	.logga {
		width: 100%;
	}
	
	.kontaktaLänk1 {
		margin:auto;	
	}
	
	.QuoteText {
		font-size: 6em;
	}
	
	.Quoteurce {
		font-size: 2em;
	}
	
	.gammlaAlternativ {
		flex-direction: column-reverse;
	}
	
	.group1 {
		content: url("Group1-1.jpg");
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.storText {
		font-size:8em;
		width: 90%;
		margin-top: 0.1em;
		margin-bottom: 1em;
	}
	
	.gjortEnkelt {
		flex-direction: column;
	}
	
	.autoSkolaMocup {
		width: 90%;
		margin-left: auto;
		margin-right: auto;
	}
	
	.storTextBlå {
		font-size:8em;
		width: 90%;
		margin-top: 0.1em;
		margin-right: auto;
		margin-left: auto;
	}
	
	.poweredByAIText {
		font-size:8em;
		width: 80%;
		text-align: left;
		margin-right: 5%;
	}
	
	.poweredByAI {
		justify-content: center;
	}
	
	.chatGPT {
		margin-top: auto;
		margin-bottom: auto;
		width: 70%;
	}
	.chatGPTDiv {
		width:40%;
	}
	
	.fotter {
		flex-direction: column;
		padding-bottom: 1em;
	}
	
	.fotterLänk {
		font-size: 5em;
		margin-top: 1em;
		margin-bottom: 1em;
	}
	
	.fotterLänkPurple {
		font-size: 5em;
		margin-top: 1em;
		margin-bottom: 1em;
	}
	
	
	
	
	.omTheodor {
		flex-direction: column;
		justify-content: center;
	}
	
	.TheodorBild {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}
	
	.omTheodorText {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}
	
	.omNoel {
		flex-direction: column;
		justify-content: center;
	}
	
	.NoelBild {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}
	
	.omNoelText {
		width: 90%;
		margin-right: auto;
		margin-left: auto;
	}
	
	.textOmTheo {
		text-align: center;
		font-size: 3em;
	}
	
	.textOmNoel {
		text-align: center;
		font-size: 3em;
	}
	
	.titleOm {
		font-size: 7em;
	}
	
	.namnOmTheo {
		font-size: 10em;
	}
	
	.namnOmNoel {
		font-size: 10em;
	}
	
	
	
	
	.comingSoon {
		font-size: 6em;
	}
	
	.lärtOss {
		font-size: 3em;
	}
	
	.mailAdress {
		font-size: 6em;
	}
	
	.skickaMail {
		font-size: 4.5em;
	}
	
	
	
	.prisUppläg {
		flex-direction: column-reverse;
		justify-content: center;
	}
	
	.billigtEffektivt {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		font-size: 8em;
	}
	
	.prisPanel {
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-size: 2.5em;
	}
	
	.faktisktPris {
		justify-content: center;
	}
	
	.kostnad {
		font-size: 4em;
	}
	
	.år {
		margin-bottom: 1em;
	}
	
	.checkText {
		text-align: center;
	}
	
	.checkmarkText {
		margin-left: auto;
		margin-right: auto;
	}
}
